<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itboys.product.dao.order.OrderPayRecordMapper">
     <!--  订单基本信息resultMap  -->
	<resultMap id="OrderPayRecordMap" type="org.itboys.product.entity.mysql.OrderPayRecord">
		<id property="id" column="id" />
		<result property="orderId" column="order_id" />
		<result property="externalId" column="external_id" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="fee" column="fee" />
		<result property="returnParam" column="return_param" />
		<result property="outTradeNo" column="out_trade_no" />
		
	 </resultMap>
	
	
	<sql id="CARITEM_FIELDS">
		id,order_id,external_id,type,status,fee,return_param,out_trade_no
	</sql>
	
	<delete id="delete" parameterType="java.lang.Long" >
    	 delete from `order_pay_record` where id=#{Id}  
  	</delete>
    
	<insert id="insert" parameterType="org.itboys.product.entity.mysql.OrderPayRecord">
       INSERT INTO `order_pay_record`(order_id,external_id,type,status,fee,return_param,out_trade_no)  VALUES 
       (#{orderId},#{externalId},#{type},#{status},#{fee},#{returnParam},#{outTradeNo});
    </insert>
    
    <update id="update" parameterType="org.itboys.product.entity.mysql.OrderPayRecord">
	  	update order_pay_record set id=#{id}
	  	<if test="status !=null">
			<![CDATA[ , status=#{status} ]]>
		 </if>
		 where id=#{id}
	  </update>
    
     <update id="updateReturnParam" >
	    UPDATE `order_pay_record` set return_param=#{returnParam},out_trade_no=#{outTradeNo} where external_id = #{externalId};
  	</update>
  	
  	 <update id="updateReturnParamByOrderNo" >
	    UPDATE `order_pay_record` set return_param=#{returnParam},out_trade_no=#{outTradeNo} where order_id = #{orderNo};
  	</update>
  	
  	<select id="getOrderPayRecord" resultMap="OrderPayRecordMap" parameterType="long">
		select id,order_id,external_id,type,status,fee,return_param,out_trade_no from `order_pay_record` where id=#{id}
	</select>
	
	<select id="getOrderPayRecordByOutNo" resultMap="OrderPayRecordMap">
		select id,order_id,type,status,fee,return_param,out_trade_no from `order_pay_record`  where type = #{type} and external_id = #{externalId}
	</select>
	
	<select id="getOrderPayRecordByOrderNo" resultMap="OrderPayRecordMap">
		select id,order_id,type,status,fee,return_param,out_trade_no from `order_pay_record`  where type = #{type} and order_id = #{orderNo}
	</select>
	
	<select id="getOrderPayRecordsByOutNo" resultMap="OrderPayRecordMap">
		select id,order_id,type,status,fee,return_param,out_trade_no from `order_pay_record`  where type = #{type} and external_id = #{externalId}
	</select>
</mapper>